<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cnstr" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa"
      providerName="System.Data.SqlClient"/>
  
 
  </connectionStrings>

     
</configuration>